/* src/components/HeroSection.css */
.hero-container {
    background: url('D:\AkshayaaAutomation\frontend\public\hero-image.jpg') center center/cover no-repeat;
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-container p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-container .btn-primary {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007BFF;
    border: none;
    cursor: pointer;
}

.hero-container .btn-primary:hover {
    background-color: #0056b3;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .hero-container {
        height: 60vh;
    }

    .hero-container h1 {
        font-size: 2.2rem;
    }

    .hero-container p {
        font-size: 1.2rem;
    }

    .hero-container .btn-primary {
        padding: 8px 15px;
        font-size: 0.9rem;
    }
}
